.timeline-wrapper {
    color: white;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
}

.desktop {
    width: 100%;
    display: flex;
}

.left,
.right {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 2rem;
}

.right {
    text-align: right;
    padding-right: 2rem;
}

.center {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
}

.step-number {
    font-size: 2.7rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.line-container {
    width: 2px;
    height: 285px;
    background-color: #222;
    position: relative;
    overflow: hidden;
}

.progress-line {
    position: absolute;
    width: 2px;
    top: 0;
    left: 0;
    transform-origin: top;
}

.step-sub {
    font-size: 1rem;
    opacity: 0.6;
    margin: 0;
}

.step-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.2rem 0 0;
}

.mobile {
    display: none;
}

/* Responsive behavior */
@media screen and (max-width: 768px) {
    .step-container {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 0.3rem;
    }

    .left,
    .right,
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
        width: 100%;
        padding: 0 1rem 0 2rem;
        flex-direction: row;
        align-items: flex-start;
    }

    .center {
        width: 20%;
        padding-right: 1rem;
        padding-bottom: 0;
    }

    .mobile-step-text {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .step-title,
    .step-sub {
        text-align: left;
    }

    .step-number {
        font-size: 2.5rem;
        margin-bottom: 0.8rem;
    }

    .line-container {
        height: 285px;
    }
}